<h1>New Recipe</h1>

<form method="post" action="/recipes">

  <label for="name"> Title</label>
  <input id="name" type="text"  name="recipe[name]">
  <label for="ingredients"> Content</label>
  <input id="ingredients" type="text" name="recipe[ingredients]">
  <label for="cook_time"> Content</label>
  <input id="cook_time" type="text" name="recipe[cook_time]">
  <input type="submit">

</form>
