<h1>New Recipe</h1>


<form method="POST" action="/recipes">
  <p>Recipe Name: <input id="title" type="text" name="name"></p>
  <p>Ingredients: <input id="content" type="text" name="ingredients"></p>
  <p>Cooking Time: <input id="content" type="number" name="cook_time"></p>
  <input type="submit" value="submit">
</form>
